# Things to be ignored:
# the program itself
cub3D

# objects
*.o

# libraries
*.a

# local stash (for personal testing files etc)
local/*

# mLX42 library
libs/MLX42

# vscode settings
.vscode/settings.json
